body {
  font-family: 'Open Sans', sans-serif;
  color: #7f7f7f;
  background: #cfecce;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1,
h2,
h3 {
  color: #0f6586;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 3rem;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 30px 0;
}

h3 {
  font-size: 1.4rem;
  font-weight: normal;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.about {
  margin: 50px 0;
}

.about-text,
.contact-blurb {
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.contact-information {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.portfolio {
  text-align: center;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
}

.portfolio-container {
  padding-top: 20px;
  padding-bottom: 15px;
}

.contact {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.global-nav ul {
  padding-left: 0;
}

.global-nav li {
  background: #fff;
  padding: 10px 0;
  margin-bottom: 5px;
  margin-left: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  display: block;
}

.global-nav a {
  color: #aa85a9;
  text-decoration: none;
  font-weight: bold;
}

.global-nav li:active {
  background: #aa85a9;
}

.global-nav a:active {
  color: #fff;
}

.profile-image {
  width: 75%;
}

.experience {
  background: rgba(121, 188, 178, .3);
  padding-top: 30px;
  padding-bottom: 50px;
}

.experience ul {
  text-align: left;
}

.experience li {
  padding-bottom: 5px;
}

.footer .container{
  border-top: 2px solid #0f6586;
  padding-top: 20px;
  }

.footer a {
  color: #aa85a9;
  text-decoration: none;
  font-weight: bold;
}

.footer-link {
  font-size: .8rem;
  float: right;
}

.footer-link li {
  text-transform: uppercase;
  display: inline;
}

.footer-name {
  font-family: 'Poiret One', cursive;
  font-size: 1.3rem;
  margin-top: 15px;
  float: left;
}

.footer-link .home-link,
.footer-link .portfolio-link,
.footer-link .experience-link,
.footer-link .contact-link {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* ------ MEDIA QUERIES ------ */

@media (min-width: 768px) {
  .global-nav li {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    background: none;
  }

  .global-nav li:active {
  background: none;
  }

  .profile-image {
    width: 38%;
    margin-left: 2%;
    float: right;
  }

  .about .about-text {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    float: left;
  }

  .portfolio-container {
    width: 48%;
    margin-left: 2%;
    float: left;
  }

  .portfolio-blurbs {
    width: 80%;
    margin: 0 auto;
  }

  .experience .about-text {
    width: 90%;
    margin: 0 auto;
  }

  .experience .job-experience {
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }

  .contact-blurb {
    width: 90%;
    margin: 0 auto;
  }

  .footer-link .home-link,
  .footer-link .portfolio-link,
  .footer-link .experience-link,
  .footer-link .contact-link {
    display: inline-block;
    padding: 0 20px;
  }

  .footer-link .back-to-top-link {
    display: none;
  }

  .footer-link li:nth-last-child(1) {
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .main-name {
    float: left;
  }

  .global-nav nav {
    float: right;
    padding-top: 50px;
  }

  .global-nav li:nth-last-child(1) {
    padding-right: 0;
  }

  .about .about-text {
    width: 55%;
  }

  .portfolio-container {
    width: 30%;
    margin-left: 2%;
  }

  .portfolio-blurbs {
    width: 90%;
  }

  .experience .about-text,
  .contact-blurb {
    width: 60%;
  }

}









